@model IEnumerable<StatefulBackendService.Domain.Employee>

@Html.ActionLink("Create", "Create", "Employee")

<table class="table table-responsive">
    <thead>
    <tr>
        <th>Name</th>
        <th>Vote</th>
        <th></th>
    </tr>
    </thead>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Name</td>
            <td>@e.Vote</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Employee", new { id = e.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", "Employee", new { id = e.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>